* {
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    background-color: rgb(169, 166, 166);
    justify-content: space-around;
    padding: 20px;
}

.nav-items ul {

    margin-left: 20px;
    display: flex;
}

.nav-items li {
    list-style: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
}

.banner-container {
    width: 100%;
    height: 100vh;
    background-image: url(asset/image/background.jpg), linear-gradient(to right, rgb(85, 82, 82), rgb(85, 82, 82));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.banner .title {
    font-size: 85px;
    font-weight: 700;
}

.orange-text {
    color: #F94C30;
}

.banner .description {
    margin: 5px;
    font-size: 25px;
    width: 50%;
    margin: auto;
}

.btn {
    padding: 15px 20px;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    border: none;
}

.btn-orange {
    background-color: #F94C30;
    border: none;
    color: white;
}

.btn-hire {
    color: #F94C30;
}

.services-section {
    width: 100%;
    height: 100vh;
    background-image: url("asset/image/footer-bg.png"), linear-gradient(to right, rgb(32, 31, 31), rgb(32, 30, 30));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */

}

.services-half {
    width: 50%;
    /* background-color: #F94C30; */
    margin: 20px;
}



.services-title {
    font-size: 45px;
    font-weight: 700;
    margin: 10px 0;
}

.red-title {
    color: red;
}

.services-description {
    font-size: 20px;
    line-height: 1.5;
    margin: 10px 0;

}

.services-ul li {
    list-style: none;
    margin-bottom: 5px;
}

.btn-setvices {
    border-radius: 50px;
    color: darkgray;
    font-size: 18px;
}

.author-details {
    display: flex;
    /* justify-items: center;
    align-items: center; */
    margin: 30px;
}

.author-left {
    padding-right: 50px;
    border-right: 2px solid red;
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.services-up {
    display: flex;
    margin: auto;
    gap: 10px;
    color: black;
    justify-content: center;
}

.service-down {
    display: flex;
    margin: auto;
    gap: 10px;
    color: black;
    justify-content: center;
}

.services-item {
    background-color: white;
    margin: 10px;
    /* width: 100%; */
    /* margin: auto; */
    border: 2px solid black;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
}

.services-item img {
    height: 100px;
    width: 100px;
}